body {
  background-color: var(--body-background-color);
}

.square {
  border-radius: 0%;
}

.jumbotron {
  background-image: linear-gradient(to right, #007bff, #000);
  color: #fff;
  padding: 80px;
}

.pointer {
  cursor: pointer;
}
